*.dll
*.exe
*.exe~
*.so
*.dylib
**/.DS_Store
**/temp/
**/tmp/
*.iml
*.out
*.pyc
*.swp
*.test
.DS_Store
.env
.eslintcache
.idea/
.rush
.vscode
/oldimpl
/patches
backend/**/output*
backend/conf/model/*.yaml
backend/static
bin/*
common/temp
docker/data/*
go.work
go.work.sum
log/
node_modules
node_modules/
output/
output/*
